{% extends "base.html" %}
{% block body_contents %}

	<!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Foosball in Terem</h1>
                <a href="#record" class="btn btn-primary btn-lg">Record a match now</a>
            </div>
        </div>
    </header>

    {% include 'record.html' %}
	<!-- Content 2 -->
     <!--<section id="record" class="content content-2">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-6">-->
                	<!--<h2 class="section-header">Superior Quality</h2>-->
                	<!--<p class="lead text-light">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>-->
                	<!--<a href="/" class="btn btn-default btn-lg">Back to top</a>-->
                <!--</div>-->
                <!--<div class="col-sm-6">-->
                    <!--<img class="img-responsive img-circle center-block" src="static/images/head2.png" alt="">-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <!-- Content 1 -->

    <!--<section class="content">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-6">-->
                    <!--<img class="img-responsive img-circle center-block" src="static/images/head.png" alt="">-->
                <!--</div>-->
                <!--<div class="col-sm-6">-->
                	<!--<h2 class="section-header">Best in Class</h2>-->
                	<!--<p class="lead text-muted">Holisticly predominate extensible testing procedures for reliable supply chains. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>-->
                	<!--<a href="#" class="btn btn-primary btn-lg">Classify It</a>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</section>-->

{% endblock %}
