{% extends "base.html" %}
{% block body_contents %}
    <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div style="text-align: center; color: yellowgreen;">
                        <h2>Sorry Invalid Input</h2>
                        <a href="/" class="btn btn-primary btn-lg">Back To Home</a>
                    </div>
                </div>

            </div>
        </div>
    </section>




{% endblock %}>
